.google
{
    text-align: center
}
.introduction 
{
    text-align: right
}
.boutons 
{
text-align: center
}
.boutons
{
    color: darkgray
}
.france
{
    text-align: left
}
.basdepage
{
    text-align: left
}